/* ADD CHAT START */
#myNavigator .add-chat-page .main-container {
    margin: 40% auto;
    text-align: center;
}

.add-chat-page .create-group-container {
    padding: 20px;
    text-align: center;
}

.add-chat-page .create-group-container .add-chat-cover-image {
    font-size: 4rem;
    color: var(--bg-color);
    padding-bottom: 20px;
}

.add-chat-page .create-group-container ons-input {
    width: 100%;
}

.add-chat-page .create-group-container ons-input input {
    text-align: center;
    color: var(--main-text-color);
    font-family: var(--main-text-color);
    font-size: 1rem;
}

.add-chat-page .create-group-container p {
    font-family: var(--app-font);
    font-size: 0.875rem;
    margin-top: 30px;
    color: var(--main-text-color);
}

#myNavigator .add-chat-page .create-group-container .upload-cover-image-button-container ons-button {
    text-align: center;
    font-size: 1rem;
    background: transparent;
    color: var(--main-text-color);
}

.add-chat-page .create-group-container #add-chat-group-button {
    margin-top: 30px;
}

/* ADD CHAT END */
/* CHAT LIST START */
#myNavigator .groups-list {
    padding: 5px;
}

#myNavigator .groups-list {
    padding: 5px;
}

#myNavigator .groups-list .group-name {
    font-size: 1.125rem;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    order: 0;
}

#myNavigator .groups-list .group-description {
    font-size: 0.875rem;
    font-style: italic;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

#myNavigator .groups-list .image-container {
    padding-top: 1px;
}

#myNavigator .groups-list .image-container i {
    font-size: 43px;
    padding: 15px 0 0 0px;
    color: var(--bg-color);
}

#myNavigator .groups-list .list-item {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    margin: 2px 0 0px 0;
    padding: 3px 10px 3px 10px;
}

#myNavigator .groups-list .list-item .left img {
    width: 55px;
    height: 55px;
    border-radius: 20%;
    object-fit: contain;
    background-color: var(--succevo);
}

#myNavigator .groups-list .list-item .right i {
    color: var(--bg-color);
    font-size: 1.5rem;
}

#myNavigator .groups-list .list-item .left {
    background-image: none !important;
    padding: 0px 14px 0px 0;
    min-height: 60px;
}

#myNavigator .groups-list .list-item .center {
    background-image: none !important;
    padding: 0px 6px 0px 0;
    word-break: break-word;
}

#myNavigator .groups-list .list-item .right {
    background-image: none !important;
    padding: 0px 12px 0px 12px;
}

#myNavigator .main-container .empty-image-outher {
    width: 100%;
    display: table;
    height: calc(100vh - 64px);
    padding: 10px;
}

#myNavigator .main-container .empty-image-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#myNavigator .main-container .empty-image-inner img {
    width: 50%;
}

/* CHAT LIST END */
/* SINGLE CHAT ROOM START */
#myNavigator .chat-group-page .chat-form-container {
    background: linear-gradient(180deg, rgba(230, 230, 230, 1) 46%, rgba(206, 206, 206, 1) 79%, rgba(161, 161, 161, 1) 100%);
    color: var(--bg-color);
}

#myNavigator .chat-group-page .chat-form-container div.text-area-container {
    display: inline-block;
    width: 92%;
    height: 100%;
    font-family: var(--app-font);
    font-size: 1rem;
    padding: 0px 10px 0px 0px;
}

#myNavigator .chat-group-page .chat-form-container div.text-area-container textarea {
    width: 100%;
    height: 100%;
    touch-action: none;
    overflow: hidden;
    background-image: none;
    user-select: none;
    outline: none;
    border: 1px solid var(--bg-color);
}

#myNavigator .chat-group-page .chat-form-container div.send-button-container {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--bg-color);
}

#myNavigator .chat-group-page .chat-form-container div.send-button-container i {
    position: relative;
    font-size: 1.5rem;
    top: 20%;
}

/* SINGLE CHAT ROOM END */