#myNavigator .social-wall-add-new-post-page .main-container {
    margin: 50% auto;
    text-align: center;
}

#myNavigator .social-wall-add-new-post-page .main-container.uploaded-image {
    margin: 0;
    padding-top: 10%;
}

#myNavigator .social-wall-add-new-post-page .main-container textarea {
    width: 80%;
    height: 15vh;
    font-size: 1rem;
    font-family: var(--app-font);
    color: var(--main-text-color);
}

#myNavigator .social-wall-add-new-post-page .main-container .upload-image-button-container {
    padding-top: 5%;
    height: auto;
}

#myNavigator .social-wall-add-new-post-page .main-container .upload-image-button-container i {
    font-size: 3rem;
    color: var(--bg-color);
}

#myNavigator .social-wall-add-new-post-page .main-container .upload-image-button-container img {
    max-width: 80%;
    height: auto;
}

#myNavigator .social-wall-add-new-post-page .main-container #add-new-post-button {
    padding-top: 5%;
}

.social-wall-posts-list-page .main-container ons-card {
    padding: 10px;
    border: 1px solid white;
    font-family: var(--app-font);
    background-color: white;
}

.social-wall-posts-list-page .main-container ons-card .post-title-container {
    padding: 0;
    font-family: var(--app-font);
}

.social-wall-posts-list-page .main-container ons-card .post-title-container .left img {
    border-radius: 20%;
    width: 50px;
    height: 50px;
    display: block;
    margin: 0;
    object-fit: cover;
}

.social-wall-posts-list-page .main-container ons-card .post-title-container .left i {
    font-size: 3rem;
    color: var(--bg-color);
}

.social-wall-posts-list-page .main-container ons-card .post-title-container .center {
    padding: 12px 6px 12px 0;
    line-height: 1.2em;
    min-height: 44px;
    background-image: none !important;
}

.social-wall-posts-list-page .main-container ons-card .post-title-container .center .list-item__title {
    font-family: var(--app-font);
    font-size: 1.15rem;
    color: var(--main-text-color);
    padding-bottom: 5px;
}

.social-wall-posts-list-page .main-container ons-card .post-title-container .center .list-item__subtitle {
    font-size: .85rem;
    font-family: var(--app-font);
    color: var(--main-text-color);
    font-style: italic;
}

.social-wall-posts-list-page .main-container ons-card .post-content-container {
    text-align: center;
    position: relative;
}

.social-wall-posts-list-page .main-container ons-card .post-content-container .post-text-box {
    text-align: left;
    color: var(--main-text-color);
    font-size: 1rem;
    line-height: 40px;
    font-family: var(--app-font);
}

.social-wall-posts-list-page .main-container ons-card .post-content-container .post-text-box p {}

.social-wall-posts-list-page .main-container ons-card .post-content-container .post-image {
    text-align: center;
    position: relative;
}

.social-wall-posts-list-page .main-container ons-card .post-content-container .post-image img {
    width: 100%;
    border-radius: 5%;
}

.social-wall-posts-list-page .main-container ons-card .post-content-container .post-image img {
    width: 100%;
    border-radius: 5%;
}

#myNavigator .social-wall-posts-list-page .main-container ons-card .post-likes-counter span,
#myNavigator .social-wall-posts-list-page .main-container ons-card .post-likes-counter i,
#myNavigator .social-wall-posts-list-page .main-container ons-card .post-comments-counter span,
#myNavigator .social-wall-posts-list-page .main-container ons-card .post-comments-counter i {
    font-size: 1rem;
    color: var(--bg-color);
}

#myNavigator .social-wall-posts-list-page .main-container ons-card .post-likes-counter {
    margin-right: 10px;
}

#myNavigator .social-wall-posts-list-page .main-container ons-card .post-activity-option-buttons {
    padding: 2px;
}

#social-wall-fab {
    background-color: var(--bg-color);
    bottom: 50px;
}

#social-wall-fab i {
    font-size: 1.5rem;
}

/* social wall comments start */
#myNavigator .add-comment-page .add-post-comment-form-container {
    background: linear-gradient(180deg, rgba(230, 230, 230, 1) 46%, rgba(206, 206, 206, 1) 79%, rgba(161, 161, 161, 1) 100%);
    color: var(--bg-color);
}

#myNavigator .add-comment-page .add-post-comment-form-container div.text-area-container {
    display: inline-block;
    width: 92%;
    height: 100%;
    font-family: var(--app-font);
    font-size: 1rem;
    padding: 0px 10px 0px 0px;
}

#myNavigator .add-comment-page .add-post-comment-form-container div.text-area-container textarea {
    width: 100%;
    height: 100%;
    touch-action: none;
    overflow: hidden;
    background-image: none;
    user-select: none;
    outline: none;
    border: 1px solid var(--bg-color);
    font-family: var(--app-font);
}

#myNavigator .add-comment-page .add-post-comment-form-container div.send-comment-button-container {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--bg-color);
}

#myNavigator .add-comment-page .add-post-comment-form-container div.send-comment-button-container i {
    position: relative;
    font-size: 1.5rem;
    top: 20%;
}

#myNavigator .add-comment-page .main-container {
    width: 100%;
    height: 100%;
}

#myNavigator .add-comment-page .main-container #social-wall-comments-list {
    margin: 10px;
}

#myNavigator .add-comment-page .main-container #social-wall-comments-list .single-comment-container {
    padding: 5px 0;
    border-radius: 5px;
    width: 70%;
}

#myNavigator .add-comment-page .main-container #social-wall-comments-list .single-comment-container div {
    padding: 5px;
}

#myNavigator .add-comment-page .main-container #social-wall-comments-list .single-comment-container div.comment-text {
    font-size: 1rem;
    font-weight: 600;
}

#myNavigator .add-comment-page .main-container #social-wall-comments-list .single-comment-container div.comment-sender i {
    font-size: 34px;
}

#myNavigator .add-comment-page .main-container #social-wall-comments-list .single-comment-container div.comment-sender img {
    width: 34px;
    height: 34px;
    object-fit: cover;
    border-radius: 17px;
}

#myNavigator .add-comment-page .main-container #social-wall-comments-list .single-comment-container div.comment-sender span {
    padding-left: 5px;
    line-height: 37px;
}

#myNavigator .add-comment-page .main-container #social-wall-comments-list .single-comment-container div.comment-sender {
    font-size: 0.825rem;
    font-weight: 600;
    display: flex;
}

#myNavigator .add-comment-page .main-container #social-wall-comments-list .single-comment-container div.comment-time {
    font-size: 0.75rem;
    font-weight: 400;
    font-style: italic;
}

#myNavigator .add-comment-page .main-container #social-wall-comments-list .single-comment-container {
    text-align: left;
    margin: 2% 0;
    font-family: var(--app-font);
    background-color: var(--text-color);
    color: var(--bg-color);
}